@model SanMarinoClassic.ViewModels.HomeViewModel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>Welcome to department section.</p>

    <p>Please choose your department</p>
</body>
</html>
